/* The structure is:
body .aui-layout
    #page
        #full-height-container
            #header
               .aui-header
                    .aui-header-inner
                        .aui-header-before
                        .aui-header-primary
                            .aui-header-logo          // Logo
                            .aui-nav                  // Menus
                                #menuMacros_renderHeaderLeftImageLinks
                        .aui-header-secondary
                            $secondaryNavContent
                                .aui-nav                  // Search bar
                                #menuMacros_renderHeaderRightImageLinks
                                #menuMacros_renderHeaderRightPanels
*/

#page {
    /* Out the box, height is set to 100%, which browsers interpret as 'don't render outside the viewport'. So when the user scrolls, there's grey instead of the background. Ugly! */
    /*height: auto !important;*/
}

body {
/* Put the bg image on the bottom-most element. */
    background: #A09796 url('../../download/resources/com.redradishtech.redradishtech-website-theme:theme-resources/images/failford3_2.jpg') no-repeat scroll center center;
    background-attachment: fixed;
}

#full-height-container {
    background-color: transparent !important;
}

/* Out the box, .aui-page-panel is white. We want it to be transparent to our background image. Also lose the bottom border, which displays over the bg image. */
.aui-page-panel {
    background-color: transparent;
    height: 100%;
    border: 0px;

}

/* Looks stupid if website is too wide, so constrain width. http://www.thesitewizard.com/css/center-div-block.shtml */
/* If changing, also change the max-width of .aui-header. */
#page-content-container {
    max-width: 1300px;
    margin: auto;
    /*margin-top: 20px;*/
    /*padding: 40px;*/
    /*border: solid #0FA683 1px;*/
    /*border-radius: 12px;*/
    /*background-color: white;*/
}

/* Give the #content node directly within #page-content-container a nice rounded border. */
#content  {
    padding: 40px;
    border: solid #0FA683 1px;
    border-radius: 12px;
    background-color: white;
}

/* If the sidebar is enabled, it's grey except for the bottom 'Space tools' drop-down, which inherits the background image. We want it grey too, so do that here. */
.space-tools-section {
    background-color: #F5F5F5;
}
