/* The structure is:
body .aui-layout
    #page
        #full-height-container
            #header
               .aui-header
                    .aui-header-inner
                        .aui-header-before
                        .aui-header-primary
                            .aui-header-logo          // Logo
                            .aui-nav                  // Menus
                                #menuMacros_renderHeaderLeftImageLinks
                        .aui-header-secondary
                            $secondaryNavContent
                                .aui-nav                  // Search bar
                                #menuMacros_renderHeaderRightImageLinks
                                #menuMacros_renderHeaderRightPanels
*/

#header .aui-header {
    /* Prevent the default solid bottom border. */
    /* Note: HTML for #header is in redradish-common-header.vm */
    border-bottom: solid black 0px;
    position: relative; /* We'll be the box our absolutely positioned elements are relative to. */
    float: none; /* Override the default Atlassian float: left */
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    /* default:
    .aui-header {
    background: #205081;
    border-bottom: 1px solid #2e3d54;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    padding: 0 10px */
}

/* Title link goes all the way top-to-bottom. */
.aui-header .aui-header-logo a {
    height: 100%;
}

.aui-header .aui-header-logo a img {
    /* Confluence's copy of AUI CSS (/home/jturner/src/atlassian/confluence-5.8.9-source/confluence-project/confluence-core/confluence-webapp/src/main/webapp/includes/css/aui-experimental-overrides.css) has:
        max-height: 24px; //AUI has 30px
        padding: 8px 0; // AUI has 5px
  We override with the size we wish our logo to be.
    */
    padding: 10px 50px 0px 10px;
    max-height: 62px;
}

/** All primary links are wrapped in a ul.aui-nav, which we position absolutely at the bottom. */
.aui-header .aui-header-primary .aui-nav {
    position: absolute;
    /* Position 5px below to visually anchor to the page. */
    bottom: -5px;
    left: 350px;
    z-index: 1;
}

/* Styling for individual menus. Pick the color to match the background image */
#header .aui-header .aui-nav-imagelink {
    border-top: 1px solid #CED3D6;
    border-left: 1px solid #CED3D6;
    border-right: 1px solid #CED3D6;
    border-bottom: 0;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background: linear-gradient(white, white, rgb(231, 241, 250)) !important;
}

#header .aui-header .aui-nav-imagelink.active,
#header .aui-header .aui-nav-imagelink:hover {
    background: linear-gradient(white, rgb(202, 227, 250), rgb(231, 241, 250)) !important;
}

/* Our header is taller than normal, so move the search bar a bit down, so it appears vertically centered.
 * The default CSS has it absolutely positioned against the right border.
 */
.aui-header .aui-header-secondary .aui-nav {
    top: 15px;
}

/* Hide the <br> below the header, so there's no gap between our header and bg image. */
#header br {
    display: none;
}
