#* Copied from $CONFSRC/confluence-project/confluence-core/confluence-webapp/src/main/webapp/decorators/includes/common-header.vm
# This .vm sets a bunch of variables and then calls Soy function 'aui.page.header.soy', whose source may be found in https://bitbucket.org/atlassian/aui/src/156feb65bf04b6bb483e97d8dc656a12b1a2a1ff/src/soy/page.soy?at=master&fileviewer=file-view-default (/home/jturner/src/bitbucket.org/aui/src/soy/page.soy 
# We make the following changes:
# - Substitute in our own $primary and $secondary content
# - Replace the logo
*#
#set ($primary = "#parse('/radishtheme/decorators/includes/redradish-aui-header-primary.vm')")
#set ($secondary = "#parse('/radishtheme/decorators/includes/redradish-aui-header-secondary.vm')")

#set ($appswitcher = $soyTemplateRendererHelper.getRenderedTemplateHtml("com.atlassian.plugins.atlassian-nav-links-plugin:rotp-menu", "navlinks.templates.appswitcher.switcher.soy", {}))

#if ($settingsManager.globalSettings.showApplicationTitle())
    #set ($headerText = $settingsManager.globalSettings.siteTitle)
#else
    #set ($headerText = "")
#end

#set ($templateParameters = {
            "headerLogoImageUrl": "${webResourceHelper.getStaticResourcePrefix()}/download/resources/com.redradishtech.redradishtech-website-theme:theme-resources/images/rrAU250x77.png",
            "headerLogoText": $settingsManager.globalSettings.siteTitle,
            "headerLink": "${req.contextPath}/display/WEB/Services",
            "logo": "confluence",
            "primaryNavContent": $primary,
            "secondaryNavContent": $secondary
})
##"headerText": $headerText,
## "headerLogoImageUrl": "${webResourceHelper.getStaticResourcePrefix()}/images/logo/confluence-logo.png",
##  "headerBeforeContent": $appswitcher.toString()

<header id="header" role="banner">
    $soyTemplateRendererHelper.getRenderedTemplateHtml("com.atlassian.auiplugin:aui-experimental-soy-templates", "aui.page.header.soy", $templateParameters)
    <br class="clear">
</header>
